---
// Utils
import { getImage, Picture } from "astro:assets";

// Components
import BaseLayout from "@layouts/BaseLayout.astro";

// Images
import cover from "@assets/images/blog/the-colors-of-light.png";

---
<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/7.0.7/mediaelementplayer.min.css" rel="stylesheet">
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/7.0.7/mediaelement-and-player.min.js"></script>
<link href="/playlist.css" rel="stylesheet">
<script is:inline src="/playlist.js"></script>

<BaseLayout
	title="All the Colored Lights, Op. 1"
	description="Suite for Bb clarinet, harp, piano, violoncello, and double bass"
>
	<main id="main">
		<section id="content">
			<div class="cs-container">
				<div class="cs-content">
					<h1>All the Colored Lights, Op. 1 (2020, rev. 2025)</h1>
					<h2>Suite for Bb clarinet, harp, piano, violoncello, and double bass</h2>
				</div>
				<div class="audio-player-border">
					<div class="audio-player-wrapper">
							<Picture
								src={cover}
								alt="Description"
								width={400}
								formats={['avif', 'webp']}
								priority
								pictureAttributes={{ class: "cs-picture" }}
							/>
						<audio id="audio-player" controls>
							<source src="/assets/mp3s/The Colors of Light/01 - Nightshade.mp3" title="All the Colored Lights, Op. 1: No. 1, Nightshade" type="audio/mp3" />
							<source src="/assets/mp3s/The Colors of Light/02 - Retrograde Heart.mp3" title="All the Colored Lights, Op. 1: No. 2, Retrograde Heart" type="audio/mp3" />
							<source src="/assets/mp3s/The Colors of Light/03 - Crow's Justice.mp3" title="All the Colored Lights, Op. 1: No. 3, Crow’s Justice" type="audio/mp3" />
							<source src="/assets/mp3s/The Colors of Light/04 - Aria.mp3" title="All the Colored Lights, Op. 1: No. 4, Aria" type="audio/mp3" />
							<source src="/assets/mp3s/The Colors of Light/05 - Fantasy.mp3" title="All the Colored Lights, Op. 1: No. 5, Fantasy" type="audio/mp3" />
							<source src="/assets/mp3s/The Colors of Light/06 - Galanthus.mp3" title="All the Colored Lights, Op. 1: No. 6, Galanthus" type="audio/mp3" />
							<source src="/assets/mp3s/The Colors of Light/07 - DAYBREAK.mp3" title="All the Colored Lights, Op. 1: No. 7, DAYBREAK" type="audio/mp3" />
							<source src="/assets/mp3s/The Colors of Light/08 - All the Lights.mp3" title="All the Colored Lights, Op. 1: No. 8, All the Lights" type="audio/mp3" />
						</audio>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</BaseLayout>

<script is:inline>
	document.addEventListener('astro:page-load', () => {
			new MediaElementPlayer('audio-player', {
				iconSprite: '/mejs-controls.svg',
				features: ['playlist', 'prevtrack', 'playpause', 'nexttrack', 'current', 'progress', 'duration', 'volume', ]
			});
			
	});
</script>

<style lang="less">
	#content {
		padding: (100/16rem) 1rem 1rem;

		.cs-container {
			width: 100%;
			max-width: 1280px;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			
			gap: (16/16rem);
			margin-top: clamp(2rem, 6.3vw, 3rem);
			margin-bottom: clamp(2rem, 6.3vw, 3rem);
		}
		.cs-content {
			max-width: 800px;
			margin: 0 auto;
			text-align: left;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			margin-bottom: clamp(1.5rem, 6.3vw, 2rem); //subtract p margin
			p {
				line-height: 2rem;
				margin-bottom: 1rem;
			}
			h1 {
				margin-bottom: 1rem;
				font-size: clamp(1.5rem, 5vw, 2rem);
			}
			h2 {
				margin-bottom: 1rem;
				font-size: clamp(1.25rem, 5vw, 1.5rem);
			}
			li {
				list-style: none;
				line-height: 2rem;
				margin-bottom: 1rem;
			}
		}
	}
		// Audio player
	.audio-player-wrapper img {
				height: auto;
				width: 10rem;
			}
	.audio-player-wrapper {
		max-width: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: 'Overpass', sans-serif;
		background-color: #000;
		-webkit-backdrop-filter: blur(100px);
		backdrop-filter: blur(100px);
	}
	
	.audio-player-border {
		box-shadow: var(--boxShadow); 
		margin-bottom: clamp(1.5rem, 6.3vw, 2rem); //subtract p margin
	}

	@media only screen and (max-width: 63.9375rem) {
		#content {
			.cs-container {
				flex-direction: column;
				align-items: center;
			}
		}
	}

@media only screen and (min-width: 64rem) {
    #content
			.cs-container {
        max-width: 80rem;
		}
	}
</style>
