/* DARK MODE STYLES */

/* Mobile */
@media only screen and (min-width: 0em) {

	// Dark Mode Color Scheme

	body.dark-mode {
		background-color: var(--primary);

		p,
		li,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--bodyTextColorWhite);
		}

		main a {
			color: var(--bodyTextColorWhite);
		}

		.cs-button-solid {
			color: var(--bodyTextColor);
			background-color: var(--secondary);
			//border-image-source: linear-gradient(to right, var(--secondary), var(--secondaryLight));

			&:after {
				background: var(--secondaryLight);
			}
		}

		// Blog content dark mode styles
		#blog-content {

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: var(--bodyTextColorWhite);
			}

			p,
			li {
				color: var(--bodyTextColorWhite);
				opacity: 0.8;
			}

			a {
				color: var(--linkLight);
			}
		}
	}
}