---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../layouts/BlogPost.astro";
const allPosts = await getCollection("blog");
const pageTitle = "Blog";

const sortedPosts = Object.entries(allPosts);

console.log(sortedPosts);
---

<BaseLayout pageTitle={pageTitle} ;>
	<ul>
		{
			allPosts.map((post: any) => (
				<BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
			))
		}
	</ul>
	<p><a href="/tags/" class="buttons">Tag Index</a></p>
</BaseLayout>
