---
// Utils
import { getImage } from "astro:assets";

// Components
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import CTABanner from "@components/CTABanner.astro";

// Images
import heroImg from "@assets/images/sandra-mosconi-t1Eap41N4ms-unsplash.webp";

const optimizedImage = await getImage({
	src: heroImg,
	format: "webp",
});
---

<BaseLayout
	title="Home"
	description="Modern classical music compositions."
>
	<main id="main">
		<Hero 
			title="I’m Anna," 
			text="a classical musician and composer." 
			image={optimizedImage}
		/>
		<section id="welcome">
			<div class="cs-container">
				<div class="cs-content">
				</div>
			</div>
		</section>
		<CTABanner 
			url="/music/the-colors-of-light/"
			button="Listen&nbsp;Now"
			image="/src/assets/images/blog/roman-kraft-VfP_-Rmnhk4-unsplash.webp"
			title="The Colors of Light, Op. 1"
		/>
	</main>
</BaseLayout>

<style lang="less">
#welcome {

	.cs-container {
		max-width: 1280px;
		margin: 0 auto;
	}

	.cs-content {
		max-width: 800px;
		margin: 0 auto;
	}
}
</style>
