---

import { Picture } from "astro:assets";

const { url, title, button } = Astro.props;

import ctaImg from "@assets/images/blog/the-colors-of-light.png";

---

<section id="cta-697">
	<div class="cs-container">
		<div class="cs-content">
			<div class="cs-image">
				<Picture
					src={ctaImg}
					alt="cover"
					layout="constrained"
					widths={[400, 512, 800]}
					formats={["avif", "webp"]}/>
			</div>
			<h1 class="cs-title">{title}</h1>
			<a href={url} class="cs-button-solid">{button}</a>
		</div>
	</div>
</section>

<style lang="less">

	/* Mobile - 360px */
	@media only screen and (min-width: 0rem) {
		#cta-697 {

			margin-top: clamp(2rem, 6.3vw, 3rem);
			margin-bottom: clamp(2rem, 6.3vw, 3rem);

			.cs-container {
				width: 100%;
				max-width: 1280px;
				margin: auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				/* 48px - 64px */
				gap: clamp(3rem, 6vw, 4rem);
			}

			.cs-content {
				/* set text align to left if content needs to be left aligned */
				text-align: center;
				width: 100%;
				display: flex;
				flex-direction: column;
				/* centers content horizontally, set to flex-start to left align */
				align-items: center;
				/* 48px - 64px */
				gap: clamp(3rem, 6vw, 4rem);
			}

			.cs-image {
				max-width: 20rem;
				height: auto;
				display: block;
				top: 0;
				left: 0;
				z-index: -1;
				align-items: flex-start;
				box-shadow: var(--boxShadow); 

				img {
					width: 100%;
					height: auto;
					display: block;
					/* Makes img tag act as a background image */
					//object-fit: cover;
					top: 0;
					left: 0;
				}
			}

			.cs-background {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				/* makes it act like a background image */
				object-fit: cover;
			}
		}
	}

	/* Small Desktop - 1024px */
	@media only screen and (min-width: 64rem) {
		#cta-697 {
			.cs-content {
				text-align: left;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
</style>
