---

---

<div id="main-menu" class="nav-links">
	<a href="/" class="buttons">Home</a>
	<div>
		<a href="/about/" class="buttons">About</a>
		<a href="/blog/" class="buttons">Blog</a>
		<a href="/contact/" class="buttons">Contact</a>
	</div>
</div>
